button
{
  cursor: pointer;
}

.button
{
  background-color: #7f7b78;
  border: 3px solid #7f7b78;
  border-radius: 1px;
  box-shadow: 0 0px 5px fade-out(black, 1);
  display: inline-block;
  font-family: $headline;
  font-size: .875em;
  line-height: 3.35;
  margin: 0 3em;
  padding: 0 3em;
  position: relative;
  text-shadow: 0 1px 0 fade-out(black, .85);
  text-transform: uppercase;
  transition: //background-color 250ms ease-out,
              //border-color 350ms ease-out,
              box-shadow 300ms cubic-bezier(0.47, 0, 0.745, 0.715), //easeInSine
              transform 0 0 linear;

  &:hover
  {
    background-color: #ba1f68;
    background-image: linear-gradient(fade-out(white, 1), fade-out(white, .95));
    border-color: #a71f5e;
    box-shadow: 0 5px 10px fade-out(black, .85);
    //transform: translateY(-1px);
    transition: //background-color 80ms ease-out,
                //border-color 150ms ease-out,
                box-shadow 200ms cubic-bezier(0.19, 1, 0.22, 1); //easeOutExpo
  }
}
