.comparison
{
  margin: auto;
  max-width: 48.75em;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:after
  {
    content: '';
    display: block;
    padding-top: 60%;
  }
}

.comparison__slide
{
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.comparison__slide--action
{
  width: 50%;
  z-index: 1;
}

.comparison__image
{
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.comparison__button
{
  background-color: fade-out(black, 1);
  border: 0;
  border-radius: 50%;
  //box-shadow: 0 5px 10px fade-out(black, .75);
  cursor: ew-resize;
  height: 4em;
  left: 50%;
  margin: -2em 0 0 -2em;
  outline: 0;
  position: absolute;
  top: 50%;
  transition: box-shadow 50ms ease;
  width: 4em;
  z-index: 1;
}

// Vendor
