.figure
{
  margin: auto;
  max-width: 48.75em;
}

.figure__image
{
  border-radius: 1px;
  display: block;
  width: 100%;
}

.figure__caption
{
  background-color: white;
  color: #7f7b78;
  font-size: 2em;
  line-height: 1.125;
  margin-right: 5.25em;
  margin-top: -1.3125em;
  padding: 1.3125em 2em 1.3125em 2.5em;
  position: relative;
}
