.footer
{
  @extend %float-reset;

  background-color: #2c2927;
  padding: 4.1em 4.5em;
}

.footer__list
{
  @extend %list-reset;
  @extend %list-horizontal;

  float: left;
  margin-left:
}

.footer__item
{
  color: #4c4744;
  font-family: $accent;
  font-size: .875em;
  line-height: 1.1428;
  margin-left: -1.1428em;
  padding: 0 1.1428em;
  position: relative;
  text-transform: uppercase;

  &:before
  {
    background-color: #4c4744;
    content: '';
    height: 12px;
    left: .5714em;
    opacity: .75;
    position: absolute;
    top: 1px;
    width: 1px;
  }

  &:first-child:before
  {
    display: none;
  }
}

.footer__link
{
  color: #a9a5a3;
  font-family: $headline;
  padding: .5714em;
  transition: color 80ms ease;

  &:hover
  {
    color: white;
  }
}

.footer__navigation
{
  float: right;
}
