.header
{
  //overflow: hidden;
  padding: 0 2.5em;
  position: absolute;
  top: 0;
  z-index: 2;
}

@keyframes header-sticky
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(0%);
  }
}

.header--sticky
{
  animation-name: header-sticky;
  animation-direction: forwards;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); //easeOutCubic
  height: 4em;
  position: fixed;
  top: 0;
}

.header__logo-fixed
{
  left: 2.5em;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header__logo-static
{
  left: 2.5em;
  position: absolute;
  top: 0;
  z-index: 2;
}
