.hero
{
  background-color: #7f7b78;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &:before
  {
    background-color: fade-out(#ada8a3, .05);
    bottom: 0;
    content: '';
    height: 2.5em;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.hero__header
{
  margin: auto;
  position: relative;
  text-shadow: 0 0 15px hsla(0,0%,0%,.15);
  top: -2.5em;
  z-index: 1;
}

.hero__title
{
  color: white;
  font-family: $headline;
  font-size: 5em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  span
  {
    font-size: .325em;
  }
}

@keyframes hero-image
{
  100%
  {
    transform: translate3d(-50%,-50%,0) scale3d(1.15,1.15,1);
  }
}

.hero__image
{
  animation-name: hero-image;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-duration: 26s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  left: 50%;
  opacity: .9;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  transform-origin: center;
  width: 100%;
}

.hero__footer
{
  bottom: 6.5em;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@keyframes hero-scroll
{
  0%
  {
    opacity: 0;
    transform: translateY(-100%);
  }
  9%
  {
    opacity: 1;
    transform: translateY(0)
  }
  87%
  {
    opacity: 1;
    transform: translateY(0)
  }
  100%
  {
    opacity: 0;
    transform: translateY(150%);
  }
}

.hero__scroll
{
  color: white;
  display: inline-block;
  font-size: .875em;
  font-family: $accent;
  letter-spacing: .2em;
  position: relative;
  text-transform: uppercase;
  transition: letter-spacing 500ms ease;

  &:hover
  {
    letter-spacing: .3em;
  }

  &:after,
  &:before
  {
    background-image: url('/assets/img/00-button.png');
    background-size: 60px 34px;
    bottom: 0;
    content: '';
    height: 34px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 60px;
    z-index: -1;
  }

  &:after
  {
    animation-name: hero-scroll;
    animation-delay: 2s;
    animation-direction: forwards;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
}
