.input-spotlight
{
  @extend %scanlines;

  color: white;
  padding: 8.25em 0 10em;
  text-align: center;
}

.input-spotlight__title
{
  font-size: 2.75em;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

.input-spotlight__subtitle
{
  color: #f4c7dc;
  font-size: 2.8125em;
  margin: 0 0 1.15em;
}

.input-spotlight__form
{
  text-align: left;
}

.input-spotlight__input
{
  background-color: #b9226a;
  border: 1px solid #a41e5e;
  display: block;
  font-size: 1.75em;
  height: 3.0714em;
  line-height: 1;
  margin: 0 auto;
  max-width: 24.25em;
  outline: none;
  padding: 0 1.1214em;
  width: 100%;

  &:focus
  {
    background-color: white;
    border-color: transparent;
    color: hsl(0,0%,10%);
  }
}
