.insight
{
  @extend %float-reset;

  height: 100vh;
  position: relative;

  .interlude + &:before
  {
    background-color: fade-out(#ada8a3, .05);
    content: '';
    height: 2.5em;
    left: 0;
    position: absolute;
    right: 30em;
    top: 0;
    z-index: 1;
  }

  .interlude + &:after
  {
    background-color: #ada8a3;
    content: '';
    height: 2.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 30em;
    z-index: 1;
  }
}

.insight__body
{
  background-color: white;
  float: right;
  height: 100%;
  padding-left: 4.5em;
  padding-top: 6.5em;
  position: relative;
  width: 30em;

  .insight:nth-of-type(2n) &
  {
    float: left;
  }
}

.insight__meta
{
  color: $primary;
  font-family: $accent;
  font-size: 1.625em;
  text-transform: uppercase;

  > abbr
  {
    font-size: .875em;
  }
}

.insight__title
{
  bottom: 3.4444em;
  color: #7f7b78;
  font-family: $headline;
  font-size: 3.375em;
  left: 1.333em;
  letter-spacing: -.08em;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
}

.insight__footer
{
  @extend %float-reset;

  background-color: #7f7b78;
  bottom: 0;
  padding: 2.5em;
  position: absolute;
  right: 0;
  width: 32.5em;
  z-index: 1;

  .insight:nth-of-type(2n) &
  {
    left: 0;
    right: auto;
  }
}

.insight__location
{
  color: #b2ada8;
  font-family: $accent;
  text-transform: uppercase;
}

.insight__link
{
  bottom: 1.8571em;
  color: #f3f2f0;
  float: right;
  font-family: $headline;
  font-size: .875em;
  padding: 1em;
  position: absolute;
  right: 1.8571em;
  text-shadow: 0 1px 0 fade-out(black, .85);
  text-transform: uppercase;

  &:hover
  {
    color: white;
  }
}

.insight__panorama
{
  background-color: #7f7b78;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 30em;
  top: 0;

  .insight:nth-of-type(2n) &
  {
    left: 30em;
    right: 0;
  }
}
