.interlude
{
  background-color: #ada8a3;
  color: white;
  padding: 6.25em 0;
  position: relative;
  text-align: center;

  // &:after,
  // &:before
  // {
  //   background-color: fade-out(#ada8a3, .05);
  //   content: '';
  //   height: 2.5em;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  // }
  //
  // &:after
  // {
  //   bottom: -2.5em;
  // }
  //
  // &:before
  // {
  //   top: -2.5em;
  // }
}

.interlude__title
{
  font-family: $copy;
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1.071;
  margin: 0 auto .75em;
  max-width: 940px;
  text-shadow: 0 1px 0 fade-out(black, .95);
}
