.navigation
{
  position: fixed;
  right: 2.5em;
  top: 0;
  z-index: 2;
}

.navigation__list
{
  @extend %list-reset;
  @extend %list-horizontal;
}

.navigation__item
{}

.navigation__link,
.navigation__button
{
  box-shadow: 0 0 10px fade-out(black, 1);
  color: white;
  display: inline-block;
  font-family: $headline;
  font-size: .875em;
  font-weight: bold;
  height: 100%;
  line-height: 4.3;
  padding: 0 1.5em;
  text-shadow: 0 0 15px fade-out(black, .75);
  text-transform: uppercase;
  //transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1); //easeOutCubic

  &:hover
  {
    background-color: #736f6d;
    background-image: radial-gradient(circle farthest-corner at 150% -50%, fade-out(white, .9), fade-out(white, 1));
    box-shadow: 0 8px 10px fade-out(black, .92);
    text-shadow: 0 0 15px fade-out(black, 1);
    //transition: background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95), //easeInOutSine
    //            box-shadow 100ms cubic-bezier(0.215, 0.61, 0.355, 1); //easeOutCubic
  }
}

.navigation__link--language
{
  opacity: .5;
  //transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95); //easeInOutSine

  &:hover
  {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: #736f6d;
    opacity: 1;
  }
}

.navigation__button
{
  background-color: transparent;
  border: none;
  font-size: .875em;
  outline: 0;
  position: relative;
  z-index: 1;
}

.navigation__button--houses
{
  > svg
  {
    height: 16px;
    position: relative;
    top: 2px;
    width: 27px;
  }

  > svg > path
  {
    fill: white;
    transition: fill 150ms ease;
  }

  &.navigation__button--active > svg > path
  {
    fill: #b2ada8;
  }

  &.navigation__button--active:hover > svg > path
  {
    fill: white;
  }

  > span
  {
    clip: 0 0 0 0;
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
  }

}
