.navigation-houses
{
  //@extend %float-reset;
  @extend %list-reset;

  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  //transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19); // easeInCubic
  transition: background-color 600ms 200ms cubic-bezier(0.215, 0.61, 0.355, 1),
              transform 0 700ms linear;
  width: 100%;

  .navigation-houses--active &
  {
    background-color: #f4f4f4;
    pointer-events: auto;
    transform: translateY(0);
    transition: background-color 600ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1),
                transform 0 linear;
  }

  &:before
  {
    background-image: radial-gradient(circle, #f4f4f4, fade-out(#f4f4f4, 1));
    content: '';
    left: 0;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 1000ms 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    width: 100%;
    z-index: -1;

    .navigation-houses--active &
    {
      opacity: 1;
      transition-duration: 800ms;
    }
  }
}

.navigation-houses--active
{
  overflow: hidden;
}

.navigation-houses__item
{
  display: flex;
  flex-grow: 1;
  height: 38%;
  opacity: 0;
  transition: opacity 350ms ease-out;
  width: 33.333%;

  .navigation-houses--active &
  {
    opacity: 1;
    transition: opacity 200ms 350ms ease-out;
  }

  &:nth-child(1),
  &:nth-child(2)
  {
    height: 62%;
    width: 50%;
  }
}

.navigation-houses__link
{
  background-color: #f4f4f4;
  display: flex;
  flex-grow: 1;
  text-align: center;
  transition: background-color 400ms ease-out;

  &:hover
  {
    background-color: white;
    transition: background-color 20ms linear;
  }
}

.navigation-houses__body
{
  margin: auto;
}

.navigation-houses__meta
{
  color: $primary;
  display: block;
  font-family: $accent;
  margin-bottom: 1em;
  text-transform: uppercase;

  .navigation-houses__item:nth-child(1) &,
  .navigation-houses__item:nth-child(2) &
  {
    margin-bottom: 3.3em;
  }
}

.navigation-houses__title
{
  color: #7f7b78;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;

  .navigation-houses__item:nth-child(1) &,
  .navigation-houses__item:nth-child(2) &
  {
    font-size: 2.75em;
  }

  span
  {
    color: #b4b0ab;
    font-size: .4375em;
    margin-top: .5714em;

    .navigation-houses__item:nth-child(1) &,
    .navigation-houses__item:nth-child(2) &
    {
      font-size: .3181em;
    }
  }
}
