%float-reset
{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%list-reset
{
  list-style: none;
  margin: 0;
  padding: 0;
}

%list-horizontal
{
  > li
  {
    display: inline-block;
  }
}
