$headline:   'Gotham';
$copy:       'DIN Next Slab Pro';
$accent:     'DIN Alternate';

html
{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


html
{
  font-size: 16px;
}

body
{
  font-family: $copy;
}

abbr[title]
{
  border: none;
}

%section-heading
{
  //color: #7f7b78;
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1.071;
  margin: 0 auto;
  max-width: 940px;
  text-align: center;

  span
  {
    font-size: .464em;
  }
}

a
{
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $headline;
  font-weight: normal;

  span
  {
    display: block;
    font-family: $accent;
    letter-spacing: .2em;
    line-height: 1;
    text-transform: uppercase;
  }
}
